<div id="navbar">
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="#">Expense Reimbursement System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span id="nav-dropdown" class="navbar-toggler-icon">Show</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="toHome">Home</a>
                <a class="nav-item nav-link" id="toRegister">Register</a>
                <a class="nav-item nav-link" id="toUpdate">Update User</a>
                <a class="nav-item nav-link" id="toLogout">Logout</a>
            </div>
        </div>
    </nav>
</div>

<h1>Delete Users:</h1>
<div id="home-admin-container">
    <table id="adminTable" class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Email</th>

        </tr>
        </thead>
        <tbody id="list">

        </tbody>
    </table>

    <div>
        <h3>Enter the user ID you wish to delete.</h3>

        <div class="form-group">
            <label for="id">ID</label> 
            <input type="text" class="form-control" id="deleteForm" placeholder="Enter the user ID to delete...">
        </div>
        <div id="delete-button-container">
            <button type="submit" class="btn btn-primary" id="deleteU">Delete User</button>
        </div>
        <br> 
        <br>
        <div class="alert alert-danger" id="reg-message"></div>
    </div>

</div>