<div id="navbar">
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="#">Expense Reimbursement System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span id="nav-dropdown" class="navbar-toggler-icon">Show</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-item nav-link" id="toRegister">Register</a>
                <a class="nav-item nav-link" id="toUpdate">Update User</a>
                <a class="nav-item nav-link" id="toDelete">Delete User</a> -->
                <a class="nav-item nav-link" id="toUpdateReimb">Update Reimbursement</a>
                <a class="nav-item nav-link" id="toLogout">Logout</a>
            </div>
        </div>
    </nav>
</div>

<h1>Welcome, <span id="loggedInUsername"></span></h1>

<div class="dropdown">
    <button class="dropbtn">Filter By Type:</button>
    <div class="dropdown-content">
      <a href="#">Lodging Reimbursements</a>
      <a href="#">Travel Reimbursements</a>
      <a href="#">Food Reimbursements</a>
      <a href="#">Other Reimbursements</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Filter By Status:</button>
    <div class="dropdown-content">
      <a href="#">Pending Reimbursements</a>
      <a href="#">Approved Reimbursements</a>
      <a href="#">Denied Reimbursements</a>
    </div>
  </div>

<div id="home-finance-container">
    <table id="financeTable" class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Amount</th>
            <th>Date Submitted</th>
            <th>Date Resolved</th>
            <th>Description</th>
            <th>Author Id</th>
            <th>Resolver Id</th>
            <th>Status</th>
            <th>Type</th>


        </tr>
        </thead>
        <tbody id="list">

        </tbody>
    </table>

    <div>
    
    </div>

</div>