<div id="navbar">
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="#">Expense Reimbursement System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span id="nav-dropdown" class="navbar-toggler-icon">Show</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="toLogin">Login</a>
            </div>
        </div>
    </nav>
</div>
<div id="login-container">
    <div class="form" id="login-form">
        <h2>Expense Reimbursement System</h2>
        <hr/>
        <h3>Sign in :D</h3>

        <div class="form-group">
            <label for="login-username">Username</label>
            <input type="text" class="form-control" id="login-username" placeholder="Please enter your username"/>
        </div>
        <div class="form-group">
            <label for="login-password">password</label>
            <input type="password" class="form-control" id="login-password" placeholder="Please enter your password"/>
        </div>
        <div id="login-button-container">
            <button type="submit" class="btn btn-primary" id="login">Login</button>
        </div>
        <br/>
        <br/>
        <div class="alert alert-danger" id="login-message"></div>
    </div>

</div>