<div id="navbar">
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="#">Expense Reimbursement System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span id="nav-dropdown" class="navbar-toggler-icon">Show</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="toHome">Home</a>
                <a class="nav-item nav-link" id="toLogout">Logout</a>
            </div>
        </div>
    </nav>
</div>
<div id="update-reimb-container">
    <div class="table-responsive-lg">
    <h2>Expense Reimbursement</h2>
    <hr>
    <h3>Update a Reimbursement</h3>
        <table id="financeTable" class="table">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Date Submitted</th>
                <th>Date Resolved</th>
                <th>Description</th>
                <th>Author Id</th>
                <th>Resolver Id</th>
                <th>Status</th>
                <th>Type</th>
    
    
            </tr>
            </thead>
            <tbody id="list">
    
            </tbody>
        </table>
    

    </div>



    <div class="form-group">
        <label for="reg-username">Existing Reimbursement id to be updated</label> 
        <input type="text" class="form-control" id="id" placeholder="Enter the id of the reimbursement to be updated">
    </div>
    <div class="form-group">
        <label for="amount">Amount</label> 
        <input type="text" class="form-control" id="amount" placeholder="Enter the new amount">
    </div>
    <div class="form-group">
        <label for="description">Description</label> <input type="text"
            class="form-control" id="description" placeholder="Enter the description">
    </div>
    <input type="radio" id="lodging" name="type" value="lodging">
        <label for="lodging">Lodging</label><br>
    <input type="radio" id="travel" name="type" value="travel">
        <label for="travel">Travel</label><br>
    <input type="radio" id="food" name="type" value="food">
        <label for="food">Food</label><br>
    <input type="radio" id="other" name="type" value="other">
        <label for="other">Other</label><br>
    <div id="update-reimb-button-container">
        <button type="submit" class="btn btn-primary" id="updateReimbButton">Update</button>
    </div>
    <br> 
    <br>
    <div class="alert alert-danger" id="update-reimb-warn"></div>
    <div class="alert alert-success" id="update-reimb-success"></div>
</div>