<div id="navbar">
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="#">Expense Reimbursement System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span id="nav-dropdown" class="navbar-toggler-icon">Show</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="toHome">Home</a>
                <a class="nav-item nav-link" id="toLogout">Logout</a>
            </div>
        </div>
    </nav>
</div>
<div id="update-reimb-container">
    <div class="table-responsive-lg">
    <h2>Expense Reimbursement</h2>
    <hr>
    <h3>Approve or Deny a Reimbursement</h3>
        <table id="financeTable" class="table">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Date Submitted</th>
                <th>Date Resolved</th>
                <th>Description</th>
                <th>Author Id</th>
                <th>Resolver Id</th>
                <th>Status</th>
                <th>Type</th>
    
    
            </tr>
            </thead>
            <tbody id="list">
    
            </tbody>
        </table>
    </div>    




    <div class="form-group">
        <label for="reg-username">Existing Reimbursement id to be updated</label> 
        <input type="text" class="form-control" id="id" placeholder="Enter the id of the reimbursement to be updated">
    </div>
    <div id="approve-deny-container">
        <input type="radio" id="approve" name="status" value="approve">
        <label for="approve">Approve</label><br>
        <input type="radio" id="deny" name="status" value="deny">
        <label for="deny">Deny</label><br>
        <div id="update-reimb-button-container">
            <button type="submit" class="btn btn-primary" id="updateReimbButton">Update</button>
        </div>
    </div>
    <br> 
    <br>
    <div class="alert alert-danger" id="approve-warn"></div>
    <div class="alert alert-success" id="approve-success"></div>
</div>